@media screen and (max-width: 768px){
	.image-container.image-left {
		margin-bottom:100px
	}
}
@media screen and (min-width: 768px){
.image-container.image-right {
	margin-bottom:0px;
}	
}
.m-none{
	margin:0;
}