.section{
    padding:0px;
}
.section-background{
    background-image: url('/img/beach.fade.jpg');
    background-image: url('/img/beach.fade.webp');
    background-size: cover; 
    background-position: top center; 
    min-height: 700px;
}
@media (min-width: 768px){
    .section-padding-75{
        padding-top: 75px;
    }
}
.page-header{
	.page-header-image{
		background-image: url('/img/trees.header.jpeg');
		background-image: url('/img/trees.header.webp');
	}
	.container{
        > .content-right{

            position: absolute;
            display: block;
            -ms-transform: translate( 0%,50%);
            -webkit-transform: translate(0%, 50%);
            transform: translate(0%, 50%);
            text-align: right;
            bottom: 50%;
            color: #FFFFFF;
            right: 0px;
            max-width: 880px;
            padding-right: 10px;

        }
        > .content-left-profile{

            position: absolute;
            display: block;
            padding-top: 60px;

            text-align: left;
            bottom: 0px;
            left: 0px;
            // max-width: 880px;
            padding-left: 10px;
        }
    }
    &[filter-color="primary"]{
        @include linear-gradient(rgba($primary-color, 0.7),rgba($black-color,.20));
    }
    &[filter-color="info"]{
        @include linear-gradient(rgba($black-color,.20), rgba($info-color, 0.6));
    }
    &[filter-color="success"]{
        @include linear-gradient(rgba($black-color,.20), rgba($success-color, 0.6));
    }
    &[filter-color="warning"]{
        @include linear-gradient(rgba($black-color,.20), rgba($warning-color, 0.6));
    }
    &[filter-color="danger"]{
        @include linear-gradient(rgba($black-color,.20), rgba($danger-color, 0.6));
    }
    .h1-seo{
        // font-family: 
    }
}

.section-story-overview{
	&.image-right{
        img{
            z-index: 2;
        }
    }
    &.image-left{
        img{
            z-index: 1;
        }
    }
    img{
        width: 100%;
        left: 0;
        top: 0;
        height: auto;
        position: absolute;
    }

}


[data-background-color="primary"]{
    background-color: $primary-color;
}
[data-background-color="black"]{
    background-color: $black-primary;
}
[data-background-color="info"]{
    background-color: $info-color;
}
[data-background-color="success"]{
    background-color: $success-color;
}
[data-background-color="warning"]{
    background-color: $warning-color;
}
[data-background-color="danger"]{
    background-color: $danger-color;
}
[data-background-color]{
    color: $white-color;
}

.section-story-overview {
    padding: 50px 0;
}
.section-story-overview .row {
    padding: 30px 0;
}
// .section-story-overview  .align-items-top :first-child{
//     padding-bottom: 60px;   
// }
.section-story-overview img{
    position: initial;
}
.section-story-overview .image-no-border{
    box-shadow: none !important;
}
.section-story-overview .image-container {
    width: auto;
    position: initial;
    background-position: center center;
    background-size: cover;
    box-shadow: 0px 10px 25px 0px rgba(0, 0, 0, 0.3);
    border-radius: .25rem;
}

.section-story-overview .image-container+.category {
    padding-top: 15px;
}

.section-story-overview .image-container.image-right {
    z-index: 2;
}

.section-story-overview .image-container.image-right+h3.title {
    margin-top: 120px;
}

.section-story-overview .image-container.image-left {
    z-index: 1;
}

.section-story-overview .image-container img {
    width: 100%;
    left: 0;
    top: 0;
    height: auto;
    position: absolute;
}

.section-story-overview .image-container:nth-child(2) {
    margin-top: 420px;
    margin-left: -105px;
}

.section-story-overview p.blockquote {
    width: 300px;
    min-height: 180px;
    text-align: left;
    position: unset;
    top: 376px;
    right: 155px;
    z-index: 0;
}

.section-nucleo-icons .nucleo-container img {
    width: auto;
    left: 0;
    top: 0;
    height: 100%;
    position: absolute;
}

.section-nucleo-icons .nucleo-container {
    height: 335px;
    position: relative;
}

.section-nucleo-icons h5 {
    margin-bottom: 35px;
}

.section-nucleo-icons .icons-container {
    position: relative;
    max-width: 450px;
    height: 300px;
    max-height: 300px;
    margin: 0 auto;
}

.section-nucleo-icons .icons-container i {
    font-size: 34px;
    position: absolute;
    left: 0;
    top: 0;
}

.section-nucleo-icons .icons-container i:nth-child(1) {
    top: 5%;
    left: 7%;
}

.section-nucleo-icons .icons-container i:nth-child(2) {
    top: 28%;
    left: 24%;
}

.section-nucleo-icons .icons-container i:nth-child(3) {
    top: 40%;
}

.section-nucleo-icons .icons-container i:nth-child(4) {
    top: 18%;
    left: 62%;
}

.section-nucleo-icons .icons-container i:nth-child(5) {
    top: 74%;
    left: 3%;
}

.section-nucleo-icons .icons-container i:nth-child(6) {
    top: 36%;
    left: 44%;
    font-size: 65px;
    color: #f96332;
    padding: 1px;
}

.section-nucleo-icons .icons-container i:nth-child(7) {
    top: 59%;
    left: 26%;
}

.section-nucleo-icons .icons-container i:nth-child(8) {
    top: 60%;
    left: 69%;
}

.section-nucleo-icons .icons-container i:nth-child(9) {
    top: 72%;
    left: 47%;
}

.section-nucleo-icons .icons-container i:nth-child(10) {
    top: 88%;
    left: 27%;
}

.section-nucleo-icons .icons-container i:nth-child(11) {
    top: 31%;
    left: 80%;
}

.section-nucleo-icons .icons-container i:nth-child(12) {
    top: 88%;
    left: 68%;
}

.section-nucleo-icons .icons-container i:nth-child(13) {
    top: 5%;
    left: 81%;
}

.section-nucleo-icons .icons-container i:nth-child(14) {
    top: 58%;
    left: 90%;
}

.section-nucleo-icons .icons-container i:nth-child(15) {
    top: 6%;
    left: 40%;
}

.section-images {
    max-height: 670px;
    height: 670px;
}

.section-images .hero-images-container,
.section-images .hero-images-container-1,
.section-images .hero-images-container-2 {
    margin-top: -38vh;
}

.section-images .hero-images-container {
    max-width: 670px;
}

.section-images .hero-images-container-1 {
    max-width: 390px;
    position: absolute;
    top: 55%;
    right: 18%;
}

.section-images .hero-images-container-2 {
    max-width: 225px;
    position: absolute;
    top: 68%;
    right: 12%;
}
@media screen and (max-width: 576px) {
    .navbar[class*='navbar-toggleable-'] .container {
        margin-left: 0;
        margin-right: 0;
    }
    .typography-line span {
        margin-left: 0;
    }
    .footer .copyright {
        text-align: center;
    }
    .projects .nav-pills {
        display: block;
    }
    .projects .nav-pills .nav-item .nav-link {
        margin: 0 auto;
        margin-bottom: 15px;
    }
    .subscribe-line .card-form-horizontal .btn {
        margin-top: 10px;
    }
    .modal .modal-dialog .modal-header button.close {
        font-size: 18px;
        right: 12px;
        top: 10px;
    }
    .header-3 .btn {
        margin-bottom: 10px;
    }
    .card.card-fashion:not(.card-background):before {
        display: none;
    }
    .profile-page .content-center {
        margin: 10px 0 0;
    }
    .profile-page .content-center .content .social-description {
        width: 105px;
        max-width: 105px;
    }
    .section-nucleo-icons .icons-container i {
        font-size: 30px;
    }
    .section-nucleo-icons .icons-container i:nth-child(6) {
        font-size: 48px;
    }
    .page-header .container h6.category-absolute {
        width: 90%;
    }
}
.ht-380{
    height: 380px;
}
.projects{
    padding-top:45px;
}

.card-signup .social-line {
    margin-top: 20px;
    text-align: center;
}

.card-signup .social-line .btn.btn-icon,
.card-signup .social-line .btn.btn-icon .btn-icon {
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0;
    margin-bottom: 0;
    box-shadow: 0px 5px 50px 0px rgba(0, 0, 0, 0.2);
}
.social-line-big-icons [class*="col-"] {
    border-right: 1px solid #E3E3E3;
}

.social-line-big-icons [class*="col-"]:last-child {
    border: 0;
}

.social-line-big-icons .btn {
    margin: 0;
    width: 100%;
    padding-top: 30px !important;
    padding-bottom: 30px !important;
    height: auto;
}

.social-line-big-icons .btn .fa {
    font-size: 25px;
}

.social-line {
    padding: .85rem 0;
}
.social-line-white,
.subscribe-line-white {
    background-color: #FFFFFF;
}

.social-line-black,
.subscribe-line-black {
    background-color: #2c2c2c;
}

.social-line-black [class*="col-"],
.subscribe-line-black [class*="col-"] {
    border-color: rgba(255, 255, 255, 0.1);
}

[data-background-color] .social-line h1,
[data-background-color] .social-line h2,
[data-background-color] .social-line h3,
[data-background-color] .social-line h4,
[data-background-color] .social-line h5,
[data-background-color] .social-line h6 {
    color: initial;
}

[data-background-color] .social-line .btn.btn-simple {
    border: 0;
}

.btn.btn-simple,
.navbar .navbar-nav>a.btn.btn-simple {
    color: #888888;
    border-color: #888888;
}

.btn.btn-simple:hover,
.btn.btn-simple:focus,
.btn.btn-simple:active,
.navbar .navbar-nav>a.btn.btn-simple:hover,
.navbar .navbar-nav>a.btn.btn-simple:focus,
.navbar .navbar-nav>a.btn.btn-simple:active {
    background-color: transparent;
    color: #979797;
    border-color: #979797;
    box-shadow: none;
}

.btn.btn-link,
.navbar .navbar-nav>a.btn.btn-link {
    color: #888888;
}



.tim-row {
    margin-bottom: 20px;
}

.tim-white-buttons {
    background-color: #777777;
}

.typography-line {
    padding-left: 25%;
    margin-bottom: 35px;
    position: relative;
    display: block;
    width: 100%;
}

.typography-line span {
    bottom: 10px;
    color: #c0c1c2;
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 13px;
    left: 0;
    margin-left: 20px;
    position: absolute;
    width: 260px;
    text-transform: none;
}

.tim-row {
    padding-top: 60px;
}

.tim-row h3 {
    margin-top: 0;
}

.switch {
    margin-right: 20px;
}

#navbar-full .navbar {
    border-radius: 0 !important;
    margin-bottom: 15px;
    z-index: 2;
}

#menu-dropdown .navbar {
    border-radius: 3px;
}

#pagination-row .pagination-container {
    height: 100%;
    max-height: 100%;
    display: flex;
    align-items: center;
}

#icons-row i.now-ui-icons {
    font-size: 30px;
}

.space {
    height: 130px;
    display: block;
}

.space-110 {
    height: 110px;
    display: block;
}

.space-50 {
    height: 50px;
    display: block;
}

.space-70 {
    height: 70px;
    display: block;
}

.navigation-example .img-src {
    background-attachment: scroll;
}

.navigation-example {
    background-position: center center;
    background-size: cover;
    margin-top: 0;
    min-height: 740px;
    height: 100%;
}

#notifications {
    background-color: #FFFFFF;
    display: block;
    width: 100%;
    position: relative;
}

.tim-note {
    text-transform: capitalize;
}

#buttons .btn,
#javascriptComponents .btn {
    margin: 0 0px 10px;
}

.space-100 {
    height: 100px;
    display: block;
    width: 100%;
}

.be-social {
    padding-bottom: 20px;
    /*     border-bottom: 1px solid #aaa; */
    margin: 0 auto 40px;
}

.txt-white {
    color: #FFFFFF;
}

.txt-gray {
    color: #ddd !important;
}

.parallax {
    width: 100%;
    height: 570px;
    display: block;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.logo-container .logo {
    overflow: hidden;
    border-radius: 50%;
    border: 1px solid #333333;
    width: 50px;
    float: left;
}

.logo-container .brand {
    font-size: 16px;
    color: #FFFFFF;
    line-height: 18px;
    float: left;
    margin-left: 10px;
    margin-top: 7px;
    width: 70px;
    height: 40px;
    text-align: left;
}

.logo-container .brand-material {
    font-size: 18px;
    margin-top: 15px;
    height: 25px;
    width: auto;
}

.logo-container .logo img {
    width: 100%;
}

.navbar-small .logo-container .brand {
    color: #333333;
}

.fixed-section {
    top: 90px;
    max-height: 80vh;
    overflow: scroll;
    position: sticky;
}

.fixed-section ul {
    padding: 0;
}

.fixed-section ul li {
    list-style: none;
}

.fixed-section li a {
    font-size: 14px;
    padding: 2px;
    display: block;
    color: #666666;
}

.fixed-section li a.active {
    color: #00bbff;
}

.fixed-section.float {
    position: fixed;
    top: 100px;
    width: 200px;
    margin-top: 0;
}

.parallax .parallax-image {
    width: 100%;
    overflow: hidden;
    position: absolute;
}

.parallax .parallax-image img {
    width: 100%;
}

@media (max-width: 768px) {
    .parallax .parallax-image {
        width: 100%;
        height: 640px;
        overflow: hidden;
    }
    .parallax .parallax-image img {
        height: 100%;
        width: auto;
    }
}


/*.separator{
    content: "Separator";
    color: #FFFFFF;
    display: block;
    width: 100%;
    padding: 20px;
}
.separator-line{
    background-color: #EEE;
    height: 1px;
    width: 100%;
    display: block;
}
.separator.separator-gray{
    background-color: #EEEEEE;
}*/

.social-buttons-demo .btn {
    margin-right: 5px;
    margin-bottom: 7px;
}

.img-container {
    width: 100%;
    overflow: hidden;
}

.img-container img {
    width: 100%;
}

.lightbox img {
    width: 100%;
}

.lightbox .modal-content {
    overflow: hidden;
}

.lightbox .modal-body {
    padding: 0;
}

@media screen and (min-width: 991px) {
    .lightbox .modal-dialog {
        width: 960px;
    }
}

@media (max-width: 991px) {
    .fixed-section.affix {
        position: relative;
        margin-bottom: 100px;
    }
}

@media (max-width: 768px) {
    .btn,
    .btn-morphing {
        margin-bottom: 10px;
    }
    .parallax .motto {
        top: 170px;
        margin-top: 0;
        font-size: 60px;
        width: 270px;
    }
}


/*       Loading dots  */


/*      transitions */

.presentation .front,
.presentation .front:after,
.presentation .front .btn,
.logo-container .logo,
.logo-container .brand {
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s;
}

#images h4 {
    margin-bottom: 30px;
}

#javascriptComponents {
    padding-bottom: 0;
}


/*      layer animation          */

.layers-container {
    display: block;
    margin-top: 50px;
    position: relative;
}

.layers-container img {
    position: absolute;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    text-align: center;
}

.animate {
    transition: 1.5s ease-in-out;
    -moz-transition: 1.5s ease-in-out;
    -webkit-transition: 1.5s ease-in-out;
}

.navbar-default.navbar-small .logo-container .brand {
    color: #333333;
}

.navbar-transparent.navbar-small .logo-container .brand {
    color: #FFFFFF;
}

.navbar-default.navbar-small .logo-container .brand {
    color: #333333;
}

.sharing-area {
    margin-top: 80px;
}

.sharing-area .btn {
    margin: 15px 4px 0;
}

.section-thin,
.section-notifications {
    padding: 0;
}

.section-navbars {
    padding-top: 0;
}

#navbar .navbar {
    margin-bottom: 20px;
}

#navbar .navbar-toggler,
#menu-dropdown .navbar-toggler {
    pointer-events: none;
}

.section-tabs {
    background: #EEEEEE;
}

.section-pagination {
    padding-bottom: 0;
}

.section-download {
    padding-top: 130px;
}

.section-download .description {
    margin-bottom: 60px;
}

.section-download h4 {
    margin-bottom: 25px;
}

.section-examples a {
    text-decoration: none;
}

.section-examples a+a {
    margin-top: 30px;
}

.section-examples h5 {
    margin-top: 30px;
}

.components-page .wrapper>.header,
.tutorial-page .wrapper>.header {
    height: 500px;
    padding-top: 128px;
    background-size: cover;
    background-position: center center;
}

.components-page .title,
.tutorial-page .title {
    color: #FFFFFF;
}

.brand .h1-seo {
    font-size: 2.8em;
    text-transform: uppercase;
    font-weight: 300;
}

.brand .n-logo {
    max-width: 100px;
    margin-bottom: 40px;
}

.invision-logo {
    max-width: 70px;
    top: -2px;
    position: relative;
}

.creative-tim-logo {
    max-width: 140px;
    top: -2px;
    position: relative;
}

.section-javascript .title {
    margin-bottom: 0;
}

.navbar .switch-background {
    display: block;
}

.navbar-transparent .switch-background {
    display: none;
}

.section-signup .col .btn {
    margin-top: 30px;
}

#buttons-row .btn {
    margin-bottom: 10px;
}

.section-basic {
    padding-top: 0;
}

.section-images {
    padding-bottom: 0;
}

@media screen and (max-width: 991px) {
    .section-navbars .navbar-collapse {
        display: none !important;
    }
}